@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

:root {
  --background: #ededed;
  --foreground: #ededed;
  --antd-font-family: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--antd-font-family);
}

